In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
from scipy.stats import linregress

In [20]:
#Assigning a variable to the path each relevant csv file in prep for merge
edu_payload = ("/Users/Mac/Desktop/Data Alliance/data-alliance-for-science/Clean Education.csv")
migra_payload = ("/Users/Mac/Desktop/Data Alliance/data-alliance-for-science/Cleaned Demographics.csv")

education_df = pd.read_csv(edu_payload)
migration_df = pd.read_csv(migra_payload)

edumi_df = pd.merge(education_df, migration_df, how="outer", on=["Countries and areas"])

In [22]:
#Taking essential columns
edumi_df[['Countries and areas','Completion rate 2012–2018, Upper secondary education, male','Completion rate 2012–2018, Upper secondary education, female', 'Net migration rate (per 1,000 population) 2015−2020']]

,Countries and areas,"Completion rate 2012–2018, Upper secondary education, male","Completion rate 2012–2018, Upper secondary education, female","Net migration rate (per 1,000 population) 2015−2020"
0,Afghanistan,32,14,-1.7
1,Albania,43,60,-4.9
2,Algeria,30,47,-0.2
3,Andorra,−,−,−
4,Angola,21,15,0.2
...,...,...,...,...
197,Venezuela (Bolivarian Republic of),−,−,-22.3
198,Viet Nam,50,61,-0.8
199,Yemen,37,23,-1.1
200,Zambia,34,23,-0.5
201,Zimbabwe,15,11,-8.2

In [19]:
wshedmi.loc[:,('Completion rate 2012–2018, Upper secondary education, male')] = wshedmi['Completion rate 2012–2018, Upper secondary education, male'].apply(lambda x: x.replace('−',''))

/Users/Mac/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
wshedmi['Completion rate 2012–2018, Upper secondary education, male'].astype(float)

ValueError: could not convert string to float: