In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
from scipy.stats import linregress

In [12]:
#Assigning a variable to the path each relevant csv file in prep for merge
edu_payload = ("Clean Education.csv")
migra_payload = ("Cleaned Demographics.csv")

education_df = pd.read_csv(edu_payload)
migration_df = pd.read_csv(migra_payload)

edumi_df = pd.merge(education_df, migration_df, how="outer", on=["countries and areas"])

,countries and areas,"""Out-of-school rate 2012–2018*"" One year before primary entry age, male","""Out-of-school rate 2012–2018*"" One year before primary entry age, female","Out-of-school rate 2012–2018, Primary education, male","Out-of-school rate 2012–2018, Primary education, female","Out-of-school rate 2012–2018, Lower secondary education, male","Out-of-school rate 2012–2018, Lower secondary education, female","Out-of-school rate 2012–2018, male","Out-of-school rate 2012–2018, female","Completion rate 2012–2018, Primary education, male",...,Life expectancy at birth (years): 1970,Life expectancy at birth (years): 2000,Life expectancy at birth (years): 2018,Dependency ratio (%) 2018: total,Dependency ratio (%) 2018: child,Dependency ratio (%) 2018: old age,Proportion of urban population (%) 2018,Annual growth rate of urban population (%): 2000−2018,Annual growth rate of urban population (%): 2018−2030α,"Net migration rate (per 1,000 population) 2015−2020"
0,Afghanistan,−,−,−,−,−,−,46,69,67,...,37,56,64,84,79,5,25,4,3.4,-1.7
1,Albania,10,11,2,4,1,4,17,18,91,...,67,74,78,46,26,20,60,1.6,0.9,-4.9
2,Algeria,−,−,0,2,−,−,−,−,93,...,50,71,77,58,47,10,73,2.8,2.1,-0.2
3,Andorra,−,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,88,0.6,0.1,−
4,Angola,30,38,−,−,−,−,−,−,53,...,41,47,61,96,92,4,66,5,4,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Venezuela (Bolivarian Republic of),17,18,14,14,18,17,32,24,−,...,65,72,72,54,43,11,88,1,1.3,-22.3
198,Viet Nam,0,1,−,−,−,−,−,−,96,...,60,73,75,44,33,10,36,3.1,2.5,-0.8
199,Yemen,95,96,12,22,23,35,46,68,70,...,37,61,66,74,69,5,37,4.6,3.6,-1.1
200,Zambia,−,−,16,12,−,−,−,−,73,...,50,44,64,89,85,4,44,4.1,4.1,-0.5
201,Zimbabwe,64,63,16,14,8,11,52,55,87,...,57,45,61,83,78,5,32,0.8,2.2,-8.2

In [13]:
#Taking essential columns
wshedmi = edumi_df[['countries and areas','Completion rate 2012–2018, Upper secondary education, male','Completion rate 2012–2018, Upper secondary education, female', 'Net migration rate (per 1,000 population) 2015−2020']]
wshedmi

,countries and areas,"Completion rate 2012–2018, Upper secondary education, male","Completion rate 2012–2018, Upper secondary education, female","Net migration rate (per 1,000 population) 2015−2020"
0,Afghanistan,32,14,-1.7
1,Albania,43,60,-4.9
2,Algeria,30,47,-0.2
3,Andorra,−,−,−
4,Angola,21,15,0.2
...,...,...,...,...
197,Venezuela (Bolivarian Republic of),−,−,-22.3
198,Viet Nam,50,61,-0.8
199,Yemen,37,23,-1.1
200,Zambia,34,23,-0.5
201,Zimbabwe,15,11,-8.2

In [15]:
# get rid of "-" that are supposed to be NA
wshedmi.loc[:,('Completion rate 2012–2018, Upper secondary education, male')] = wshedmi['Completion rate 2012–2018, Upper secondary education, male'].apply(lambda x: x.replace('−',''))
wshedmi.loc[:,('Completion rate 2012–2018, Upper secondary education, female')] = wshedmi['Completion rate 2012–2018, Upper secondary education, female'].apply(lambda x: x.replace('−',''))
wshedmi.loc[:,('Net migration rate (per 1,000 population) 2015−2020')] = wshedmi['Net migration rate (per 1,000 population) 2015−2020'].apply(lambda x: x.replace('−',''))

# chech it was taken out
wshedmi

# save as csv so that we can drop the NAs
wshedmi.to_csv("Education and Migration.csv", encoding='utf-8', index=False)

In [16]:
# import merged and cleaned data
ed_mig = pd.read_csv("Education and Migration.csv")

#drop blank rows
ed_mig = ed_mig.dropna(how="any")

# print new data
ed_mig

,countries and areas,"Completion rate 2012–2018, Upper secondary education, male","Completion rate 2012–2018, Upper secondary education, female","Net migration rate (per 1,000 population) 2015−2020"
0,Afghanistan,32.0,14.0,-1.7
1,Albania,43.0,60.0,-4.9
2,Algeria,30.0,47.0,-0.2
4,Angola,21.0,15.0,0.2
7,Argentina,53.0,66.0,0.1
...,...,...,...,...
194,Uruguay,45.0,28.0,-0.9
198,Viet Nam,50.0,61.0,-0.8
199,Yemen,37.0,23.0,-1.1
200,Zambia,34.0,23.0,-0.5
201,Zimbabwe,15.0,11.0,-8.2